@import "header.styl"
@import "hero.styl"

:root
  --soft-blue: hsl(231, 69%, 60%)
  --soft-red: hsl(0, 94%, 66%)
  --grayish-blue: hsl(229, 8%, 60%)
  --very-dark-blue: hsl(229, 31%, 21%)

body
  background lightgray
  font-family 'Rubik', sans-serif
  color var(--very-dark-blue)
  margin 0
  font-size 18px

.u-wrapper
  max-width 1280px
  margin auto
  padding 1em